<ul class="list">
  <li class="list-item">
    <p class="header p-22 bold font-ps light-black">
      My child didn't learn very well using the online format when COVID hit. Why should Jewish Online School
      learning be different?
    </p>
    <p class="font-ps description p-18 regular light-black">
      This is a reasonable concern! Schools were forced to move their classes online during Covid without
      warning. They had no adequate time to prepare for such a drastic change in environment. Whereas, Nigri
      Jewish Online School was founded and designed in 2008 as a school solely meant for distance learning. We
      have spent many years tailoring our teaching strategies to the online environment. In fact, when Covid
      blew up, our teachers shared their expertise and advice on online teaching with educators around the
      world.
    </p>
  </li>
  <li class="list-item">
    <p class="header p-22 bold font-ps light-black">
      What level of previous Jewish knowledge does my child need to have in order to fit into the Jewish
      online school?
    </p>
    <p class="font-ps description p-18 regular light-black">
      This is a reasonable concern! Schools were forced to move their classes online during Covid without
      warning. They had no adequate time to prepare for such a drastic change in environment. Whereas, Nigri
      Jewish Online School was founded and designed in 2008 as a school solely meant for distance learning. We
      have spent many years tailoring our teaching strategies to the online environment. In fact, when Covid
      blew up, our teachers shared their expertise and advice on online teaching with educators around the
      world.
    </p>
  </li>
  <li class="list-item">
    <p class="header p-22 bold font-ps light-black">
      What level of Hebrew knowledge does my child need to have in order to succeed in the Conversational
      Hebrew program?
    </p>
    <p class="font-ps description p-18 regular light-black">
      This is a reasonable concern! Schools were forced to move their classes online during Covid without
      warning. They had no adequate time to prepare for such a drastic change in environment. Whereas, Nigri
      Jewish Online School was founded and designed in 2008 as a school solely meant for distance learning. We
      have spent many years tailoring our teaching strategies to the online environment. In fact, when Covid
      blew up, our teachers shared their expertise and advice on online teaching with educators around the
      world.
    </p>
  </li>
  <li class="list-item">
    <p class="header p-22 bold font-ps light-black">
      Help me choose the best program for me.
    </p>
    <p class="font-ps description p-18 regular light-black">
      This is a reasonable concern! Schools were forced to move their classes online during Covid without
      warning. They had no adequate time to prepare for such a drastic change in environment. Whereas, Nigri
      Jewish Online School was founded and designed in 2008 as a school solely meant for distance learning. We
      have spent many years tailoring our teaching strategies to the online environment. In fact, when Covid
      blew up, our teachers shared their expertise and advice on online teaching with educators around the
      world.
    </p>
  </li>
  <li class="list-item">
    <p class="header p-22 bold font-ps light-black">
      I’m concerned about the social aspect of online learning.
    </p>
    <p class="font-ps description p-18 regular light-black">
      This is a reasonable concern! Schools were forced to move their classes online during Covid without
      warning. They had no adequate time to prepare for such a drastic change in environment. Whereas, Nigri
      Jewish Online School was founded and designed in 2008 as a school solely meant for distance learning. We
      have spent many years tailoring our teaching strategies to the online environment. In fact, when Covid
      blew up, our teachers shared their expertise and advice on online teaching with educators around the
      world.
    </p>
  </li>
  <li class="list-item">
    <p class="header p-22 bold font-ps light-black">
      I looked through your website and cannot find a program that's suitable for me. Do I have any other
      options?
    </p>
    <p class="font-ps description p-18 regular light-black">
      This is a reasonable concern! Schools were forced to move their classes online during Covid without
      warning. They had no adequate time to prepare for such a drastic change in environment. Whereas, Nigri
      Jewish Online School was founded and designed in 2008 as a school solely meant for distance learning. We
      have spent many years tailoring our teaching strategies to the online environment. In fact, when Covid
      blew up, our teachers shared their expertise and advice on online teaching with educators around the
      world.
    </p>
  </li>
  <li class="list-item">
    <p class="header p-22 bold font-ps light-black">
      Do students of the Evening School learn the same curriculum as students of the Day School?
    </p>
    <p class="font-ps description p-18 regular light-black">
      This is a reasonable concern! Schools were forced to move their classes online during Covid without
      warning. They had no adequate time to prepare for such a drastic change in environment. Whereas, Nigri
      Jewish Online School was founded and designed in 2008 as a school solely meant for distance learning. We
      have spent many years tailoring our teaching strategies to the online environment. In fact, when Covid
      blew up, our teachers shared their expertise and advice on online teaching with educators around the
      world.
    </p>
  </li>
  <li class="list-item">
    <p class="header p-22 bold font-ps light-black">
      My child's Bar/Bat Mitzvah crept up on us and now it's around the corner. Is there still a hope for us
      to be ready on time?
    </p>
    <p class="font-ps description p-18 regular light-black">
      This is a reasonable concern! Schools were forced to move their classes online during Covid without
      warning. They had no adequate time to prepare for such a drastic change in environment. Whereas, Nigri
      Jewish Online School was founded and designed in 2008 as a school solely meant for distance learning. We
      have spent many years tailoring our teaching strategies to the online environment. In fact, when Covid
      blew up, our teachers shared their expertise and advice on online teaching with educators around the
      world.
    </p>
  </li>
  <li class="list-item">
    <p class="header p-22 bold font-ps light-black">
      What will my child need in order to attend the Jewish Online School?
    </p>
    <p class="font-ps description p-18 regular light-black">
      This is a reasonable concern! Schools were forced to move their classes online during Covid without
      warning. They had no adequate time to prepare for such a drastic change in environment. Whereas, Nigri
      Jewish Online School was founded and designed in 2008 as a school solely meant for distance learning. We
      have spent many years tailoring our teaching strategies to the online environment. In fact, when Covid
      blew up, our teachers shared their expertise and advice on online teaching with educators around the
      world.
    </p>
  </li>
  <li class="list-item">
    <p class="header p-22 bold font-ps light-black">
      When does the school year begin and end?
    </p>
    <p class="font-ps description p-18 regular light-black">
      This is a reasonable concern! Schools were forced to move their classes online during Covid without
      warning. They had no adequate time to prepare for such a drastic change in environment. Whereas, Nigri
      Jewish Online School was founded and designed in 2008 as a school solely meant for distance learning. We
      have spent many years tailoring our teaching strategies to the online environment. In fact, when Covid
      blew up, our teachers shared their expertise and advice on online teaching with educators around the
      world.
    </p>
  </li>
  <li class="list-item">
    <p class="header p-22 bold font-ps light-black">
      When do classes run?
    </p>
    <p class="font-ps description p-18 regular light-black">
      This is a reasonable concern! Schools were forced to move their classes online during Covid without
      warning. They had no adequate time to prepare for such a drastic change in environment. Whereas, Nigri
      Jewish Online School was founded and designed in 2008 as a school solely meant for distance learning. We
      have spent many years tailoring our teaching strategies to the online environment. In fact, when Covid
      blew up, our teachers shared their expertise and advice on online teaching with educators around the
      world.
    </p>
  </li>
  <li class="list-item">
    <p class="header p-22 bold font-ps light-black">
      How many students attend each class?
    </p>
    <p class="font-ps description p-18 regular light-black">
      This is a reasonable concern! Schools were forced to move their classes online during Covid without
      warning. They had no adequate time to prepare for such a drastic change in environment. Whereas, Nigri
      Jewish Online School was founded and designed in 2008 as a school solely meant for distance learning. We
      have spent many years tailoring our teaching strategies to the online environment. In fact, when Covid
      blew up, our teachers shared their expertise and advice on online teaching with educators around the
      world.
    </p>
  </li>
</ul>
<script src="./assets/scripts/script.js" defer></script>