<footer>
  <div class="wrapper">
    <div class="section logo w100p">
      <div class="img-wrapper">
        <img src="./../assets/footer-logo-white.svg" alt="Nigri White">
      </div>
      <div class="top-bottom flex jc-sb ai-c">
        <div class="left text flex">
          <p class="font-ps regular p-14 lh-40 white">
            Nigri Jewish Online School is fully accredited by
          <div class="img-wrapper flex jc-c ai-c">
            <img src="./../assets/wasc-white.png" alt="WASC certificate" width="71" height="27">
          </div>
          </p>
        </div>
        <div class="right flex jc-sb ai-c">
          <div class="item">
            <a href="#" class="font-ps p-14 regular light-blue lh-40">
              Student Portal
            </a>
          </div>
          <div class="item">
            <a href="#" class="font-ps p-14 regular light-blue lh-40">
              Parent Portal
            </a>
          </div>
          <div class="item">
            <a href="#" class="font-ps p-14 regular light-blue lh-40">
              Teacher Portal
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="top">
      <div class="section quick">
        <div class="title">
          <p class="light-blue p-14 regular">
            QUICK LINKS
          </p>
        </div>
        <div class="items">
          <div class="column column-1">
            <a href="./index.html">
              <p class="p-14 white regular">
                Home
              </p>
            </a>
            <a href="./about.html">
              <p class="p-14 white regular">
                About
              </p>
            </a>
            <a href="./contact.html">
              <p class="p-14 white regular">
                Contact
              </p>
            </a>
            <!-- <a href="./jobs.html"> -->
          </div>
          <div class="column column-2">
            <a href="./blog.html">
              <p class="p-14 white regular">
                Blog
              </p>
            </a>
            <a href="./donate.html">
              <p class="p-14 white regular">
                Donate
              </p>
            </a>
            <a href="./registration-form.html">
              <p class="p-14 white regular">
                Register
              </p>
            </a>
          </div>
        </div>
      </div>
      <div class="section programs">
        <div class="title">
          <p class="light-blue p-14 regular">
            PROGRAMS
          </p>
        </div>
        <div class="items">
          <div class="column column-1">
            <a href="./program_day-school.html">
              <p class="p-14 white regular">
                Day School
              </p>
            </a>
            <a href="./program_after-school.html">
              <p class="p-14 white regular">
                After School
              </p>
            </a>
            <a href="./program_hebrew-school.html">
              <p class="p-14 white regular">
                Hebrew School
              </p>
            </a>
          </div>
          <div class="column column-2">
            <a href="./program_bar-mitzvah.html">
              <p class="p-14 white regular">
                Bar & Bat Mitzvah
              </p>
            </a>
            <a href="./program_conversational-hebrew.html">
              <p class="p-14 white regular">
                Conversational Hebrew
              </p>
            </a>
            <a href="./program_custom-classes.html">
              <p class="p-14 white regular">
                Custom Class/Tutoring
              </p>
            </a>
          </div>
        </div>
      </div>
      <div class="section contact">
        <div class="title">
          <p class="light-blue p-14 regular">
            CONTACT
          </p>
        </div>
        <div class="items">
          <div class="column column-1">
            <div class="text-group">
              <p class="p-14 bold white">
                Office:
              </p>
              <p class="p-14 regular white">
                <a href="mailto:outreach@jewishonlineschool.com">
                  outreach@jewishonlineschool.com
                </a>
              </p>
              <p class="p-14 regular white">
                <a href="tel:+718-713-3080">
                  718-713-3080
                </a>
              </p>
            </div>
            <div class="text-group">
              <p class="p-14 regular white">
                816 Eastern Pkwy
              </p>
              <p class="p-14 regular white">
                Brooklyn, NY, 11213
              </p>
            </div>
          </div>
          <div class="column column-2">
            <div class="text-group">
              <p class="p-14 bold white">
                Support:
              </p>
              <p class="p-14 regular white">
                <a href="mailto:techsupport@jewishonlineschool.com">
                  techsupport@jewishonlineschool.com
                </a>
              </p>
            </div>
            <div class="text-group">

              <p class="p-14 bold white">
                Follow Us:
              </p>

              <div class="app-icons-group">
                <a href="instagram.com">
                  <img src="../assets/instagram-icon.svg" alt="ig">
                </a>
                <a href="facebook.com">
                  <img src="../assets/facebook-icon.svg" alt="fb">
                </a>
                <a href="tiktok.com">
                  <img src="../assets/tiktok-icon.svg" alt="tt">
                </a>
                <a href="whatsapp.com">
                  <img src="../assets/whatsapp-icon.svg" alt="wp">
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <p class="p12 white regular">
        Copyright <span id="current-year"></span>. All Rights Reserved.
      </p>
      <p class="p12 white regular">
        Website by: Pixel & Byte
      </p>
    </div>
  </div>
</footer>
<script src="./assets/scripts/script.js" defer></script>
<script>
  const currentDate = new Date();
  const year = currentDate.getFullYear();
  let currentYear = document.getElementById('current-year')
  currentYear.innerHTML = year
</script>