<header>
  <nav class="nav-bar">
    <a href="../index.html" class="logo">
      <div class="img-wrapper">
        <img src="./assets/logo-blue-pink.png" alt="logo">
      </div>
    </a>
    <div id="mobile-menu" class="menu-toggle flex column jc-c mobile-only">
      <div class="line _1 br-5 sky-blue-bg"></div>
      <div class="line _2 br-5 sky-blue-bg"></div>
      <div class="line _3 br-5 sky-blue-bg"></div>
    </div>
    <div class="nav-wrapper" id="nav-wrapper">
      <ul class="item-list">
        <li class="list-item has-sub">
          <p class="p-20 bold dark-blue mobile-only opener">
            <a href="#">
              About
            </a>
          </p>
          <p class="p-20 bold dark-blue desktop-only">
            <a href="./about.html">
              About
            </a>
          </p>
            <div class="subnav">
              <p class="font-ps p-18 bold dark-blue mobile-only">
                <a href="./about.html">
                  About
                </a>
              </p>
              <p class="font-ps p-18 bold dark-blue">
                <a href="./faqs.html">
                  FAQs
                </a>
              </p>
              <p class="font-ps p-18 bold dark-blue">
                <a href="./staff.html">
                  Staff
                </a>
              </p>
            </div>
        </li>
        <li class="list-item has-sub">
          <p class="p-20 bold dark-blue mobile-only opener">
            <a href="#">
              Departments
            </a>
          </p>
          <p class="p-20 bold dark-blue desktop-only">
            <a href="./programs.html">
              Departments
            </a>
          </p>
            <div class="subnav">
              <p class="font-ps p-18 bold dark-blue mobile-only">
                <a href="./programs.html">
                  Departments
                </a>
              </p>
              <p class="font-ps p-18 bold dark-blue">
                <a href="./program_day-school.html">
                  Day School
                </a>
              </p>
              <p class="font-ps p-18 bold dark-blue">
                <a href="./program_after-school.html">
                  After School
                </a>
              </p>
              <p class="font-ps bold p-18 dark-blue">
                <a href="./program_hebrew-school.html">
                  Hebrew School
                </a>
              </p>
              <p class="font-ps p-18 bold dark-blue">
                <a href="./program_conversational-hebrew.html">
                  Conversational Hebrew
                </a>
              </p>
              <p class="font-ps p-18 bold dark-blue">
                <a href="./program_bar-mitzvah.html">
                  Bar & Bat Mitzvah
                </a>
              </p>
              <p class="font-ps p-18 bold dark-blue">
                <a href="./program_custom-classes.html">
                  Custom Classes & Tutoring
                </a>
              </p>
            </div>
        </li>
        <li class="list-item">
          <p class="p-20 bold dark-blue">
            <a href="./blog.html">
              Blog
            </a>
          </p>
        </li>
        <li class="list-item">
          <p class="p-20 bold dark-blue">
            <a href="./contact.html">
              Contact
            </a>
          </p>
        </li>
        <li class="list-item">
          <p class="p-20 bold dark-blue">
            <a href="./index.html">
              Donate
            </a>
          </p>
        </li>
        <li class="list-item">
          <p class="p-20 bold dark-blue">
            <a href="./registration-form.html">
              Enroll
            </a>
          </p>
        </li>
        <li class="list-item">
          <a href="#login" class="button white pink-bg">
            Login
          </a>
        </li>
      </ul>
    </div>
  </nav>

</header>